<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <threads num="4" />
  <copyrightfile filepath="/home/mliddle2/workspace/copyrightutility/copyright.txt" />
  <gitpath value="/usr/bin/git" />
  <repositoryfile value="repositories.txt" />
  <gitdir value="/opt/github" />
  <gitprotocol value="git" />
  <gitbranchname value="copyright_update" />
  <author name="copyright_service" email="mike@mikeliddle.com" />
  <gitmessage value="added/updated copyright headers" />
  <logger>
    <filepath value="/home/mliddle2/workspace/copyrightutility/log.log" />
    <level value="1" />
  </logger>

  <filetypes>
    <extension comment="//" endComment="//" file="*.c" />
    <extension comment="//" endComment="//" file="*.h" />
    <extension comment="//" endComment="//" file="*.cpp" />
    <extension comment="//" endComment="//" file="*.cxx" />
    <extension comment="//" endComment="//" file="*.hpp" />
    <extension comment="//" endComment="//" file="*.hxx" />
    <extension comment="//" endComment="//" file="*.js" />
    <extension comment="//" endComment="//" file="*.jsp" />
    <extension comment="//" endComment="//" file="*.m" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.php" />
    <extension comment="#" endComment="#" file="*.sql" />
    <extension comment="//" endComment="//" file="*.cs" />
    <extension comment="//" endComment="//" file="*.cls" />
    <extension comment="//" endComment="//" file="*.cc" />
    <extension comment="//" endComment="//" file="*.cbp" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.html" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.htm" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.xml" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.html5" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.csproj" />
    <extension comment="//" endComment="//" file="*.java" />
    <extension comment="$" endComment="$" file="*.rb" />
    <extension comment="# " endComment=" #" file="*.sh" />
    <extension comment="'" endComment="'" file="*.vb" />
  </filetypes>

</configuration>