<?xml version="1.0" encoding="utf-8" ?>

<!-- THIS IS THE XML STYLE CONFIG FILE -->

<config>
  <headerpath>header.txt</headerpath>
  <filetypes>
    <extension comment=" ">html</extension>
    <extension comment=" ">htm</extension>
    <extension comment=" ">html5</extension>
    <extension comment=" ">csproj</extension>
    <extension comment=" ">xml</extension>
  </filetypes>
  
  <exclude>
    <extension>generate.h</extension>
  </exclude>
  
  <macros>
    <macro name="AUTHOR">Connor Group</macro>
    <macro name="COPYRIGHT">Copyright (C) 2014 Connor Group. All rights reserved.</macro>
    <macro name="EMAIL">it@connorgp.com</macro>
    <macro name="WEBSITE">http://www.connorgp.com</macro>
  </macros>
</config>
